body {
  background: white;
  font-family: 'Poppins', sans-serif;
  color: #606060;}

h1 {
  font-family: 'Capriola', sans-serif;
}

a {
  text-decoration: none;}

#theogwiz {
    width: 50%;
}

/* SIDR */
// Drawer
aside {
  background: white;
  position: fixed;
  height: 100%;
  min-height: 100%;
  left: -250px;
  width: 250px;
  // always on top
  z-index: 999999;
  // animate
  transition: left .25s;
}

// Show Drawer
.drawer {
  left: 0;
}

// All Sections
section {
  position: absolute;
  height: 100%;
  width: 100%;
}
// Section 1
#one {
  background: #dad31b;
}
// Section 2
#two {
  background: #fcc2c2;
}
// Section 3
#three {
  background: #b7d2d5;
}
// :target Selection from Sidebar
:target {
  z-index: 1;
}

/* -------- MEDIA QUERIES -------- */
@media (max-width:500px) {
  body {
    width: 90%;} 
  p{
    font-size: em;}
  h1 {
    font-size: 1.5em;}
  h3 {
    font-size: 2em;}
  #theogwiz {
    width: 90%;
}
}