body {
  background: white;
  font-family: 'Poppins', sans-serif;
  color: #606060;}

h1 {
  font-family: 'Capriola', sans-serif;
  text-align: center;}

h1, h3 {
  text-align: center;}


/* LINK STYLIN */
a:link {
  text-decoration: none;
  color: #a76fa4;}
a:visited {
    color: #a76fa4;}
a:hover {
    color: #b58ab3;}
a:active {
    color: #c79bc5;}

#theogwiz {
    width: 30vh; /* DOUBLE CHECK THIS???? */
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* SIDR */
// Drawer
aside {
  background: white;
  position: fixed;
  height: 100%;
  min-height: 100%;
  left: -250px;
  width: 250px;
  // always on top
  z-index: 999999;
  // animate
  transition: left .25s;}

// Show Drawer
.drawer {
  left: 0;}

// All Sections
section {
  position: absolute;
  height: 100%;
  width: 100%;}
// Section 1
#one {
  background: #dad31b;}
// Section 2
#two {
  background: #fcc2c2;}
// Section 3
#three {
  background: #b7d2d5;}
// :target Selection from Sidebar
:target {
  z-index: 1;}

/* -------- MEDIA QUERIES -------- */
@media (max-width:500px) {
  body {
    width: 90%;} 
  p {
    font-size: 1em;}
  h1 {
    font-size: 3em;}
  h3 {
    font-size: 1.3em;}
  #theogwiz {
    width: 100%;}
}